body {
    background-color: #000;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    color: #ffffff; /* Vermelho */
    font-family: 'storm';
    font-weight: bold;
    font-size: 100px;
    margin-top: 100px;
    padding: 20px;
}

h2 {
    color: #ffffff; /* Vermelho */
    font-family: 'terror';
    font-weight: bold;
    font-size: 100px;
    margin-top: 75px;
    margin-bottom: 25px;
    border: 1px solid white;
    padding: 20px;
}

h3 {
    color: #ff0000; /* Vermelho */
    font-family: 'terrorr';
    font-weight: normal;
    font-size: 72px;
}

h5 {
 color: #ff0000; /* Vermelho */
    font-family: 'terrorr';
    font-weight: normal;
    font-size: 72px;  
}


.navbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #030303;
    color: white;
    padding: 10px 0;
    font-family: OCR A Std, monospace;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: #ff0000;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
}

.navbar ul li a:hover {
    background-color: #000;
    border-radius: 4px;
}


footer {
    background-color: #000;
    color: #ffffff;
}



.logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
         
}

.inicio {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.intro {
  font-size: 25px;
  margin-top: 50px;
  margin-left: 0.5cm;
  text-align: center;
}

.JLB {
  width: 350px;
  margin-top: 30px;
}

.Fetec {
  font-family: 'storm', terror;
  font-size: 95px;
  src:url('public/fonts/Storm Gust.otf');
  color: #e0e0e3;
  border: solid 3px;
  border-color: #ff0000;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
}
@font-face {
  font-family: 'storm';
  src: url('public/fonts/Storm\ Gust.otf') format(opentype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'terror';
    src: url('public/fonts/zombie.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'terrorr';
    src: url('public/fonts/punk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'type';
  src: url('public/fonts/typewcond_bold.otf') format('opentype'); /* Caminho correto da fonte */
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: 'type';
  font-size: large;
  color: #fff;
  text-align: justify;
  text-indent: 5%;
}

.records {
  display: flex;
  justify-content: space-between;
}

#precord {
  font-size: 20px;
  margin-top: 5px;
  margin-left: 0.5cm;
  text-align: center;
}

a {
    color: #df1515;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
    color: #fff;
  }
  
  .logo {
    width: 200px;
    letter-spacing: 9px;
    margin-left: 12px;
    margin-right: 2px;
    justify-content: left;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #0e0f11;
    height: 8vh;
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    margin-top: 2px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: rgb(106, 0, 0);
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .container {
    background-color: #0e0f11;
    opacity: 5;
    border-radius: 30px;
    height: auto;
    margin-bottom: 30px;
  }

.startscreen {
  width: 1000px;
  margin: 20px;
}
